.image-display-rel {
  position: relative;
  grid-column: 1 / -1;
  grid-row: 6 / -1;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(rgb(127, 157, 209), rgb(6, 36, 106));
}
.image-display-ab {
  position: absolute;
  margin-top: 1rem;

  &__image {
    height: 30rem;
    width: auto;
  }
}

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #bf550f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}